annotated-types==0.7.0
bandit==1.9.4
black==26.3.1
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
-e git+ssh://git@github.com/seifreed/euvd-cli.git@a008a11461e60bdd0d0aac8c446ccb531cfc8c26#egg=euvd_python_cli
idna==3.13
librt==0.9.0
markdown-it-py==4.0.0
mdurl==0.1.2
mypy==1.20.2
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pytokens==0.4.1
PyYAML==6.0.3
requests==2.33.1
rich==15.0.0
ruff==0.15.12
stevedore==5.7.0
types-requests==2.33.0.20260503
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
